.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0 3rem;
  gap: 0.3rem;
}

.text {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
}

.text h1 {
  font-size: 30px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
