.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.headings {
  text-align: center;
}

.title {
  font-size: 56px;
  margin: 1rem 0;
}

.subtitle {
    margin: 0 0 1rem;
}

@media (max-width:1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .title {
        font-size: 48px;
      }
}
@media (max-width:768px) {
    .grid {
        grid-template-columns: 1fr
    }
    .title {
        font-size: 32px;
      }
}